*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    background:rgb(243, 243, 243);
}
#movies{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0;
   background: url('text.jpg')0 /cover fixed;
    transition: 2s;
}
#movienew{
    position: relative;
    width: 100%;
    height: 1800px;
    margin: 0;
    background: #fff ;
    transition: 2s;
}
#img{
    display:none;
    background:none;
    margin:auto auto;
    width: 90%;
    height:0;
    overflow: hidden;
    border: 1px solid white;
    box-shadow: 2px 2px 10px black;
    transition: 3s;
    border-radius: 20px;
    z-index: -10;
}
#img2{
    background: url('2.jpg')0 fixed;
    margin:auto;
    margin-top: 100px;
    display:block;
    width: 90%;
    border: 1px solid white;
    box-shadow: 2px 2px 10px black;
    transition: 3s;
    border-radius: 20px;
}
.bottom{
   overflow: hidden;
   position: absolute;
    bottom: 0;
    height: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.top{
    height: 50px;
    width: 100%;
    background: rgb(73, 146, 224);
}
h1{
    color: #fff;
    margin: none;
    padding: 0;
}
#box{
    width: 100%;
    height: 800px;
    transition: 2s;
}
#box2{
    display: none;
    position: absolute;
    z-index: -10;
    transition: 2s;
    width: 100%;
    height: 800px;
}
.fixes{
    display: block;
    height: 200px;
    width: 100%;
    background-color:black;
    border-bottom: 1px solid white;
    text-shadow: 1px 1px 10px white;
    box-shadow: 0px 0px 10px white;
}
.fixes:nth-child(1){
    background: url(1.jpg)0 /cover fixed;
}
.fixes:nth-child(2){
    background: url(2.jpg)0 /cover fixed;
}
.fixes:nth-child(3){
    background: url(3.jpg)0 /cover fixed;
}
.fixes:nth-child(4){
    background: url(4.jpg)0 /cover fixed;
}
.fixes p{
    margin: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1.5em ;
    white-space:nowrap;
    transition: .5s;
}
p:hover{
    background:rgba(255, 255, 255, 0.09);
}
.fixes a{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.login{
    position: absolute;
    height: 50px;
    width: 50px;
    border-left: 2px white solid;
    right: 1px;
    top: 0;
    z-index: 10;
}
svg{
    margin: 5px;
}
#img2 h1{
    color: white;
    text-align: center;
}
#img2 p{
    color: white;
    text-align: center;
    font-size: 100%;
    width: 90%;
    margin: auto;
    margin-top:10px;
    font-family: '等线';
    letter-spacing:2px;
    transition: .5s;
}
.text{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: rgba(0,0,0,0.4);
    padding-top:10px;
    padding-bottom:10px;
}
.over{
    height: 400px;
    width: 100%;
    border-top: .5px solid black;
    display:flex;
}
.over-top{
    float:left;
    height: 100%;
    width:50%;
    max-width: 200px;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
  box-shadow: 0px 0px 10px black;
}
.over-head{
    float:right;
    height:100%;
    width:100%;
    border-right:1px solid white;
    box-shadow: 0px 0px 10px white;
    text-align: center;
}
img{
    height: 50%;
}
.over-hidden{
    height: 50px;
    width: 100%;
    background:rgba(0,0,0,0.8);
    text-align: center;
    color: white;
}
.over-head h2{
        color:rgb(97, 76, 63);
}
.over-head p{
    color: rgb(97, 76, 63);
}
hr{
   background-color:white;
}