body{
    height: 100%;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
}
@font-face {
    /* font-properties */
    font-family: 鲸落体;
    src:url('../wf.otf'), 

    url('../wf.otf'),

    url('../wf.otf'); /* IE9 */

}
.all{
    height: 1000px;
    width: 100%;
    display:flex;
}
.modo{  
    float:left;
    position: relative;
    height: 100%;
    width:40%;
    max-width: 200px;
    min-width: 120px;
    background: #fff;
    text-align: center;
    z-index: 10;
    box-shadow: 1px 1px 3px gray;
}
.text{
    float:right;
    height:100%;
    width:100%;
    background: rgb(255, 255, 255);
}
img:nth-child(1){
    display: inline-block;
    width: 120px;
    border-bottom: 1px solid black;
}
li{
    list-style-type: none;
    height: 28px;
    width: 80%;
    margin: auto;
    padding-top: 5px;
    margin-top: 20px;
    letter-spacing:1px;
    color: rgb(123, 136, 255);
    font-size: 100%;
    font-family: '鲸落体';
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(101, 106, 177);
    transition: 1s;
    outline: none;
}
a{
    text-decoration: none;
}
h1{
    background: url(index.jpg)0 /cover fixed;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0;
    margin-bottom:5px;
    text-align: center;
    border-bottom:2px solid rgb(112, 108, 108);
}
p{
    letter-spacing:.5px;
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 10px white;
}
ul{
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    margin: auto;
    background: url('../../news/1.jpg')0 /cover fixed;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
}
.sold{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
    padding-top:20px ;
    padding-bottom:20px;
}
.bottom{
    height: 20%;
    max-height: 200px;
    min-height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgb(64, 192, 218);
    color: white;
}
h4{
    margin: 2px;
}
h4:nth-child(2){
    border-bottom: 1px solid white;
}
.bottom a{ 
    color: white;
}
.end{
    position: absolute;
    z-index: 11;
    bottom: 0;
    height: 30px;
    width: 100%;
    background:rgb(32, 32, 32);
    margin-top:100px;
}
.end h3{
    text-align: center;
    color: white;
    font-size: 20px;
}
.sold h2,h3{
    color: #fff;
    text-align: center;
}